<a href="https://colab.research.google.com/github/Ajayrao29/Coding-DSA/blob/main/Mutable_%26_Immutable_Objects.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Types of Objects in Python :

1.   Immutable Objects
2.   Mutable Objects

Immutable Objects : Values cannot be changed once it created

1.   int
2.   float
3.   string
4.   bool
5.   tuple

Mutable Objects: Values can be changed any no.of times after creation.


1.   List
2.   Set
3.   Dictionary

#LIST :
Mutable (can be changed even after creation)

Created using [] braces.

In [1]:
#List should be enclosed in the square bracket
my_list=[1,2,3,4]
print(my_list)
type(my_list)

[1, 2, 3, 4]

list

In [2]:
#list can contain elements of multiple datatypes
my_list=[1,2,True,"Ajay"]
print(my_list)

[1, 2, True, 'Ajay']

Lists are mutable so we can change elements in it even after creation.

In [3]:
my_list.append(4) #it adds element to previously created list
print(my_list)

[1, 2, True, 'Ajay', 4]

Accessing elements in list

In [4]:
print(my_list[0])
print(my_list[3])

1
Ajay

lists allow duplicate or repeated values

In [5]:
list1=[1,2,3,4,5,1,2]
print(list1)

[1, 2, 3, 4, 5, 1, 2]

checking no.of elements present in list by using len function

In [6]:
print(len(list1))

7

creating an empty list and appending elements to it

In [7]:
list2=[]
print(list2)
list2.append(1)
list2.append(2)
list2.append(3)
list2.append(4)
print(list2)

[]
[1, 2, 3, 4]

deleting an element from the list

In [8]:
#method1
list2.remove(2) #specifying element here
print(list2)
#method2
del list2[1] #specifying the index here
print(list2)

[1, 3, 4]
[1, 4]

Joining two lists

In [9]:
list3=[1,2,3,4]
list4=[5,6,7,8]
list5=list3+list4 #two lists are combined
print(list5)

[1, 2, 3, 4, 5, 6, 7, 8]

#TUPLE :
Once created it cannot be changed(Immutable).

created by using () braces

In [10]:
tup1=(1,2,3,4)
print(tup1)
type(tup1)

(1, 2, 3, 4)

tuple

In [11]:
#tuple allows multiple datatypes
tup2=(1,2,True,"Ajay")
print(tup2)

(1, 2, True, 'Ajay')

Converting a List into Tuple

In [12]:
my_list=[1,2,3,4]
print(my_list)

my_tup=tuple(my_list) #converting list to tuple
print(my_tup)

[1, 2, 3, 4]
(1, 2, 3, 4)

In [13]:
#Accessing elementsj  in tuple
print(my_tup[0])

1

As tuples are immutable we cannot change them once created.So, using append function with tuple gives error.

In [14]:
my_tup.append(10)

AttributeError: 'tuple' object has no attribute 'append'

Find no.of elements in tuple by using len function

In [15]:
print(len(my_tup))

4

#SET :
Values can be changed even after creation.(Mutable)

Created using {} braces

In [16]:
set1={1,2,3,4}
print(set1)
type(set1)

{1, 2, 3, 4}

set

Accessing elements(indexing) is not supported in set.

In [17]:
print(set1[0])

TypeError: 'set' object is not subscriptable

Converting a list to a set

In [18]:
list10=[1,2,3,4]
print(list10)

x=set(list10)#converting list to a set
print(x)

[1, 2, 3, 4]
{1, 2, 3, 4}

SET doesn't allow duplicate values

In [19]:
set2={1,2,3,4,1,2}
print(set2) #repeated values are removed and prints output

{1, 2, 3, 4}

#Dictionary:

Mutable(Changeable even after creation)

{key:value} pair representation.

In [21]:
dic={'Name': 'Ajay','Age':20,'Country':'India'}
print(dic)
type(dic)

{'Name': 'Ajay', 'Age': 20, 'Country': 'India'}

dict

Accessing in dictionary

In [22]:
print(dic['Name'])

Ajay

Dictionary does not allow duplicate values

In [24]:
dic2={'Name':'Ajay','Age':20,'Country':'India','Name':'Ajay','Age':20,'Country':'India'}
print(dic2) #output return with removed repeated values from dic

{'Name': 'Ajay', 'Age': 20, 'Country': 'India'}