<a href="https://colab.research.google.com/github/Ajayrao29/Machine_Learning_Course/blob/main/07_Loops_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#For Loop

In [1]:
#general
laptop1=int(input("Enter the price of laptop:"))
laptop2=int(input("Enter the price of laptop:"))
laptop3=int(input("Enter the price of laptop:"))
laptop4=int(input("Enter the price of laptop:"))
laptop5=int(input("Enter the price of laptop:"))

Enter the price of laptop:100000
Enter the price of laptop:40000
Enter the price of laptop:25000
Enter the price of laptop:55000
Enter the price of laptop:35000

Actual Method with 'For' loop

In [2]:
#input prices for five laptops with for loop
for i in range(5):
    price = int(input("Enter price of laptop: "))

Enter price of laptop: 25000
Enter price of laptop: 100000
Enter price of laptop: 50000
Enter price of laptop: 30000
Enter price of laptop: 15000

Example 2

In [3]:
numbers = [5,10,15,20,50]
print(numbers[0])
print(numbers[1])
print(numbers[2])
print(numbers[3])
print(numbers[4])

5
10
15
20
50

    WITH 'For' loop

In [4]:
numbers = [5,10,15,20,50]
for i in numbers:
    print(i)

5
10
15
20
50

#WHILE LOOP

while condition:
   statement

In [5]:
i = 0
while i < 10:
    print(i)
    i += 1

0
1
2
3
4
5
6
7
8
9

In [9]:
i = 5
while i<3:
  print(i)
  i+=1

#Here we don't get any output as we assigned i with 5 at beginning which then doesn't enter while loop as condition won't satisfy.